body {
background-colour: #fff;
}

#mypage {
border: 1px solid #000;
width: 1200px;
}

#banner {
height: 90px;
border: 1px solid #000;
}

#topnav {
height: 45px;
width: 1px solid #edbcca
}

#topnav ul li {
text-decoration: none;
display: inline;
}