*{
margin: 0;
padding: 0;
overflow-x: hidden;
}
body {

background-color: #fff;
font-family: Arial, Helvetica, sans-serif;
}

#mypage {
border: 1px solid #000;
width: 100%;
height: 100%;
}

#banner {
display: flex;
height: auto;
border: 1px solid #000;
background-color: #3f3fe6;
border-radius: 3px;
}

.temitxt{
    padding-top: 60px;
    padding-left: 15px;
    font-size: 45px;
    color: brown;
}

.logo{
    border-radius: 85%;
}

#topnav {
height: 45px;
border: 1px solid #edbcca;
background-color: #edbcca;
display: flex;
justify-content: center;
align-items: center;
padding: 20px 0;
border-radius: 5px;
}

.navlinks {
    display: flex;
    gap: 80px;
}


#topnav ul li{
text-decoration: none;
display: inline;

}

#topnav a:link {
text-decoration: none;
color: #000;
}

#topnav a:visited {
color: #000;
}

#topnav a:hover {
background-color: white;
transition: 3 secs

}

/* #contentarea {
height: auto;
} */

.our_courses ul li{
    display: inline;
    margin-right: 85px;
}


.all_courses{
    width: 100%;
    height: auto;
    background-color: burlywood;
    padding-bottom: 30px;
    padding-top: 20px;
    border-radius: 10px;
}

.our_courses {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-row-gap: 20px;
    justify-items: center;
    grid-column-gap: 10px;
}

/* Styling the course div */

.course {
    display: grid;
    flex-direction: column;
    align-items: center;
    background-color: #b3b6b7;
    padding: 10px;
    width: 50%;
    border-end-end-radius: 10px;
    border-radius: 30px;
}

.course {
    border: 2px dotted #ec6f6f;
    margin-top: 50px;
}

.course h2{
    color: #3f3fe6;
}

/* .our_courses dd dl{
    display: inline;
    margin-right: 150px;
}

.our_courses dl{
    width: 140px;
    height: 150px;
}

*/

.coursetxt{
    height: auto;
    
}



.company_profile{
    width: 100%;
    height: 250px;
    background-color: #c8defc;
    border-radius: 8px;
}

.company_profile p {
    text-align: center;
    text-decoration: solid;
    font-size: medium;
}

.company_profile h1{
    text-align: center;
    margin-top: 20px;
    color: #3f3fe6;
}

.current_trainees{
    background-color: burlywood;
    padding-bottom: 40px;
    border-radius: 10px;
}

.current_trainees h1{
    text-align: center;
    margin-top: 20px;
    color: #3f3fe6;
}

.images{
    display: flex;
    justify-content: center;
}

.name img{
    border-radius: 85%;
}

.images p{
    text-align: center;
}

.name{
    justify-items: center;
}


.container{
    display: flex;
    
    justify-content: space-between;
}


.job_spec{
    display: grid;
    gap: 10px;
    flex-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #c8defc;
    padding-bottom: 20px;
}

.job_spec h1{
    text-align: center;
    margin-top: 20px;
    color: #3f3fe6;
}

.box{
    max-width: 300px;
    text-align: center;
    padding: 20px;
    background-color: purple;
    border-radius: 10px;
}

.box p{
    color: blanchedalmond;
}




.application_form{
    width: 100%;
    height: auto;
    background-color: darkgray;
    padding-bottom: 50px;
    border-radius: 5px;
}

.course button{
    border-radius: 5px;
    background-color: #3f3fe6;
    outline: none;
}

.course p{
    margin-bottom: 35px;
    padding-top: 35px;
    margin-left: 35px;
    margin: 35px 0px 35px 35px;
    font-size: 14px;
} 

.current_trainees ul li{
    display: inline;
    margin-right: 85px;
}


.pagefooter {
    width: 100%;
    background-color: #3f3fe6;
    border-radius: 5px;
    padding-top: 20px;
    height: 40px;
    
}

.content {
    width: 100%;
    height: 60vh;
    background-color: #c8defc;
}

.coursetxt{
    text-align: center;
    margin-top: 0px;
    color: #3f3fe6;
}

.video_container{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.video_container iframe{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}